.homepage-container {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 64px 1fr auto; 
    height: 100vh;
  
  }
  
  .homepage-navbar {
    grid-column: 2 / span 3;
    position: fixed;
    z-index: 5;
    width: 100%;
  }
  
  .homepage-sidebar {
    grid-row: 2 / span 2;
    position: fixed;
    top: 64px; 
    height: calc(100vh - 64px); 
    z-index: 2; 
  }
  
  .homepage-content {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    padding: 24px;
    background-color: #f3f3f5 ;
  }
  
  .homepage-footer {
    z-index: 1; 
  }
  